<!DOCTYPE html>
<html>
  <head>
    <title>SocialNetwork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="d-flex flex-column justify-content-center align-items-center h-100">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <% if user_signed_in? %>
        <div> <%= current_user.name %> <%= current_user.lastname %> | 
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>    
        </div>
      <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </body>
</html>
